.content__element{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--color-white);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;

}

.dsh{
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: auto;
    display: flex;
    border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.dsh::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
}

.modules__list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.active{
    color: #ffae00;
    border-bottom: 2px solid #ffae00;
    padding-bottom: 1rem;
}


.modules__list li{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.back__button{
    padding: .5rem 1rem ;
    width: fit-content;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.4rem;
}

.back__icon{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}