.navbar{
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--color-white);
    font-size: 2.4rem;
}

.tabs{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
    color: var(--color-white);
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.login__link{
    color:rgb(255, 230, 0);
}


.link{
    text-decoration: none;
}