.resumes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.resume__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: column;
}
.resume__card {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  color: rgb(209, 209, 209);
  border-bottom: 1px solid rgb(153, 155, 158);
}

.create__button {
  width: fit-content;
  height:auto;
  color: var(--color-white);
  border-radius: 0.5rem;
  border: 1px solid #b6b6b6;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.create__button:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
  border: 1px solid var(--color-white);
}

.resume__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.resume__edit,
.resume__delete {
  width: fit-content;
  padding: .7rem;
  border: none;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}



.buttons {
  display: flex;
  gap: 1rem;
}

.resume__name, .resume__date{
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--color-white);
}

.resume__th{
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(248, 244, 0) !important;
}
