.home__container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 100px 50px 0 50px;
  overflow: auto;
  background-color: rgba(202, 202, 202, 0.082);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  overflow-x: hidden;
  z-index: 1;

}



@keyframes animate {
  0% {
    transform: translate(-70%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-70%, -50%) rotate(360deg);
  }
  
}

.intro {
  display: flex;
  gap: 10rem;
}

.image {
  width: 50rem;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

.home__text {
  /* width: 50rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: 2;
  width:50%;
}

.home__text h1 {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--color-dark);
}

.unique__text {
  color: var(--color-secondary);
}

.home__text p {
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--color-dark);
}

.homeButton {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--color-dark);
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: var(--color-dark);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.homeButton:hover{
  background-color:rgb(238, 179, 52);
  width:200px;
  height:50px;
  color:var(--color-dark);
}

.highlighter {
  width: 80vw;
  min-height: 500px;
  position: relative;
  border-radius: 20px;
  background: radial-gradient(circle farthest-corner at 50% 100%,var(--color-tertiary)35%,rgba(16,24,40,0) 86%),linear-gradient(to bottom,#2a1943,#2a1943);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}

.heading{
    position: absolute;
    right: 3rem;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
    bottom: 20px;
    align-items:center;
}



.sample__resume{
    width: 50rem;
    height: auto;
    position: absolute;
    left: 5rem;
    bottom: -30rem;
    border-radius: 20px;
    
}

.button:hover{cursor: pointer}

    .button {
      
      width: fit-content;
      background: transparent; outline: none;
      position: relative;
      border: 1px solid var(--color-dark);
      color: var(--color-dark);
      padding: 15px 50px;
      overflow: hidden;
      border-radius: 5px;
    }

    /*button:before (attr data-hover)*/
    .button:hover:before{opacity: 1; transform: translate(0,0);}
    .button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.3em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 500;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      .button:hover div{opacity: 0; transform: translate(100%,0)}
      .button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }

.features{
  width: 25rem;
  border-radius: 20px;
  background-color: var(--color-white);
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding:2rem;
  font-size: 1.6rem;
  color: var(--color-dark);
}

.features ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features li{
  display: flex;
  gap: 1rem;
  align-items: center;
}


/* Iages on landing page  */
.landing__images{
  position: relative;
  width: 500px;
  height: 70vh;
}

.home__image,.home__image__box{
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
  z-index: 1 !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.164);
  
}

.home__image__box:nth-child(1){
  position: absolute;
  left: 13rem;
}

.home__image__box:nth-child(2){
  position: absolute;
  top: 5rem;
  right: 3rem;
}

.home__image__box:nth-child(3){
  position: absolute;
  top: 21rem;
  left: 13rem;
}

.footer{
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 15rem;
  font-size: 1.6rem;
  padding: 5rem 20rem;
  border-top: 1px solid #ccc;
}

.hr{
  background-color: #ccc;
}

.links{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.links a, .links li{
  text-decoration: none;
  color: var(--color-gray-800);
  cursor: pointer;
}


/* features section  */
/* _____________________________ */

.features__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 5rem;

}

.section__heading{
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-dark);
}

.features__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.feature__tile{
  width: 40%;
  min-height: 10rem;
  display: flex;
  gap:2rem;
  align-items: center;
}


.feature__details{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature__heading{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-gray-800);
}

.feature__desc{
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray-600);
  
}


.feature__image{
  width: 5rem;
  height: 5rem;
  object-fit: cover;

}




@media screen and (max-width: 768px) {
  .home__container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro {
    margin-top: 50px;
    flex-direction: column;
    gap: 5rem;
  }
  .landing__images{
    display: none;
  }

  .highlighter{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features{
    position: relative;
    right: auto;
    border-radius: 10px;
  }

  .heading{
    position: relative;
    text-align: center;
    right: auto;
  }

  .sample__resume{
    display: none;
  }

  .image {
    width: 100%;
  }
  .home__text {
    width: 100%;
    /* text-align: center; */
  }
  .home__text h1 {
    font-size: 3.5rem;
  }
  .home__text p {
    font-size: 1.5rem;
  }
  .test {
    width: 90vw;
  }

  .footer img{
    display: none;
  }

  .footer{
    gap: 5rem;
    padding: 5rem;
  }
}

