@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
    src: local("Roboto"), local("Roboto-Regular"),
      url("https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2")
        format("woff2");
  }

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#BA68C8;
    --color-secondary:#713ABE;
    --color-tertiary:#3B0B5B;
    --color-light:#E5CFF7;
    --color-dark: #252525;
    --color-dark-2:#5d5d5e;
    --color-white:#fff;
    --color-gray-200:#e2e8f0;
    --color-gray-400:#94a3b8;
    --color-gray-600:#475569;
    --color-gray-800:#1e293b;
    --color-placeholder:#a1a0a0;
}

body,html{

    width: 100vw;
    min-height: 100vh;
    /* background: linear-gradient(var(--color-secondary),var(--color-tertiary)) !important; */
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
    width: 10px;
    background: var(--color-white);
     /* make scrollbar transparent */
}

html::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 5px;
}